.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
      position: absolute;
      
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 120px;
    margin-left: 320px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
  }