.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
      position: absolute;
      top: 400px;
      left: 50px;     
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 440px;
    left: 70px;
    z-index: 1;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 550px;
    left: 320px;
  }